@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    --background: #000000;
    --primaryColor: #fdfdfd;
    --navColor1: #99b898;
    --navColor2: #c3aed6;
    --navColor3: #feceab;
    --navColor4: #ff847c;
    --navColor5: #e84a5f;
}

html {
    box-shadow: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: 'Raleway', sans-serif;
}

/* NAV */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

.overlay-slide-left {
    transform: translateX(-100vw);
    transition: all .8s ease-in-out;
}

/* NAV MENU ITEMS */
nav,
nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    overflow: hidden;
}

nav li a {
    display: block;
    position: relative;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.8rem;
    letter-spacing: 4px;
    text-decoration: none;
    transition: .2s;
}

nav li a::before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-1000px);
    transition: ease-out .2s;
}

nav li a::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(1000px);
    transition: all ease-out .2s;
}

nav li:hover a {
    transform: scale(1.2);
}

nav li:hover a::after {
    transform: translateX(0);
}

nav li:hover a::before {
    transform: translateX(0);
}

nav li:nth-of-type(1) {
    background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
    background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
    background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
    background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
    background-color: var(--navColor5);
}

.menu {
    display: inline;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
    transition: .2s;
}

.menu:hover {
    transform: scale(1.2);
}

.menu__bar1,
.menu__bar2,
.menu__bar3 {
    width: 35px;
    height: 2px;
    margin: 8px 0;
    background-color: var(--primaryColor);
    transition: .4s;
}

/* HAMBURGER ANIMATION */
.change .menu__bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

.change .menu__bar2 {
    opacity: 0;
}

.change .menu__bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--primaryColor);
    width: 100%;
    height: 100vh;
    position: relative;
}

section#home {
    background-image: url(https://images.unsplash.com/photo-1529154691717-3306083d869e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center center;
}

section#home a {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    padding-bottom: 5px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    z-index: 2;
}

section#about {
    background-color: var(--navColor2);
}

section#skills {
    background-color: var(--navColor3);
}

section#projects {
    background-color: var(--navColor4);
}

section#contact {
    background-color: var(--navColor5);
}