@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background: #3c88cf;
}

.player {
    height: 500px;
    width: 400px;
    background: #d7d8db;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, .3);
}

.img-container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, .3);
}

h2 {
    font-size: 25px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 376px) {
    .player {
        width: 95vw;
    }

    .img-container {
        left: 29px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px
    }
}