@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
    --primary-color: #242424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Play', sans-serif;
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%238e29c9' fill-opacity='0.34' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.button__add-bookmark {
    font-size: 21px;
    color: #e7e7e7;
    padding: 20px;
    background: rgba(0, 0, 0, .6);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 250px;
    margin: 20px auto 20px;
    text-align: center;
    transition: all .2s;
}

.button__add-bookmark:hover {
    background: rgba(0, 0, 0, .8);
    transform: scale(1.1);
    letter-spacing: 2px;
}

/* BOOKMARKS */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookmark__close {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 5;
    transition: all .2s;
}

.bookmark__close:hover {
    transform: scale(1.1);
    color: rgb(221, 9, 9);
}

.bookmark__item {
    position: relative;
    background: rgba(0, 0, 0, .6);
    color: #e7e7e7;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.bookmark__item:hover {
    background: rgba(0, 0, 0, .7);
}

a {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 25px;
}

a:link,
a:visited {
    color: #e7e7e7;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.bookmark__name img {
    height: 30px;
    width: 30px;
    vertical-align: sub;
    margin-right: 10px;
}