@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

/* VIDEO BACKGROUND */

.video-background {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.video-background--overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, .5);
}

/* CONTAINER */
.container {
    min-width: 580px;
    min-height: 300px;
    color: #000000;
    background: rgba(255, 255, 255, .8);
    margin: 0 auto;
    padding: 25px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.container__input {
    position: relative;
    top: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* FORM */

.form {
    position: relative;
    width: 95%;
    height: 50px;
    overflow: hidden;
    color: #595f6e91;
    margin-bottom: 20px;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000000;
    /* font-weight: 400; */
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    font-size: 20px;
    padding-top: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform .3s ease;
}

.form__name {
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: all .3s ease;
    color: #595f6e;
    font-size: 20px;
    font-weight: bold;
}

.form input:focus+.form__label .form__name,
.form input:valid+.form__label .form__name {
    transform: translateY(-105%);
    font-size: 18px;
    color: #086da7;
}

.form input:focus+label::after,
.form input:valid+label::after {
    transform: translateX(0%);
}

/* BUTTON */
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    background: #086da7;
    transition: all .2s;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
    letter-spacing: 5px;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: scale(0.95);
}

/* COUNTDOWN */
ul {
    /* margin-left: -45px; */
}

li {
    display: inline-block;
    font-size: 28px;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 70px;
    text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width:600px) {
    .container {
        min-width: unset;
        width: 95vw;
        min-height: 245px;
        padding: 20px;
        margin: 10px;
    }

    li {
        font-size: 16px;
    }

    li span {
        font-size: 28px;
    }
}

@media screen and (max-width: 1280px) {
    .video-background {
        height: 100vh;
        width: 100vw;
    }

    video {
        object-fit: cover;
    }
}